.radioGroup_horizontal {
  margin-top: 1rem;
  border-color: orangered;
  background: green;

  label {
    display: inline-block;
    margin: 0;
  }

  label + label {
    margin-left: 1rem;
  }
}

.radioGroupItem_special {
  border-width: 1rem;
}
